In [2]:
import pandas as pd
import numpy as np

data = np.random.rand(4, 4)

df = pd.DataFrame(data, columns=['A', 'B', 'C', 'D'])

print(df)

          A         B         C         D
0  0.662896  0.190441  0.522570  0.045160
1  0.054763  0.441567  0.684713  0.066624
2  0.423258  0.210529  0.871140  0.731207
3  0.142046  0.480590  0.487942  0.809567

In [3]:
df.rename(columns={
    'A': 'Random value 1',
    'B': 'Random value 2',
    'C': 'Random value 3',
    'D': 'Random value 4'
}, inplace=True)

print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.662896        0.190441        0.522570        0.045160
1        0.054763        0.441567        0.684713        0.066624
2        0.423258        0.210529        0.871140        0.731207
3        0.142046        0.480590        0.487942        0.809567

In [4]:
df_descriptive_stats = df.describe()
print(df_descriptive_stats)

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.320741        0.330782        0.641591        0.413139
std          0.277041        0.151517        0.175429        0.413845
min          0.054763        0.190441        0.487942        0.045160
25%          0.120226        0.205507        0.513913        0.061258
50%          0.282652        0.326048        0.603641        0.398915
75%          0.483168        0.451323        0.731320        0.750797
max          0.662896        0.480590        0.871140        0.809567

In [5]:
null_values = df.isnull().sum()
data_types = df.dtypes
print("Null Values:")
print(null_values)
print("\nData Types:")
print(data_types)

Null Values:
Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

Data Types:
Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

In [6]:
selected_columns_loc = df.loc[:, ['Random value 2', 'Random value 3']]
print(selected_columns_loc)

   Random value 2  Random value 3
0        0.190441        0.522570
1        0.441567        0.684713
2        0.210529        0.871140
3        0.480590        0.487942

In [7]:
selected_columns_iloc = df.iloc[:, [1, 2]]
print(selected_columns_iloc)

   Random value 2  Random value 3
0        0.190441        0.522570
1        0.441567        0.684713
2        0.210529        0.871140
3        0.480590        0.487942